doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Turn on the heat!
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/leaflet.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Turn-On-The-Heat
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Map
            li
              a(href='#about') About
            li
              a(href='#contact') More info
    .container
      #map
        #hover
          #hover-text
        #legend
          .circle-container-container
            p.legend-title Complaints per address:
            .circle-container
              .c1.circle
              p.legend-text 1-9
            .circle-container 
              .c2.circle
              p.legend-text 10-19
            .circle-container
              .c3.circle
              p.legend-text 20-29
            .circle-container
              .c4.circle
              p.legend-text 30-39
            .circle-container
              .c5.circle
              p.legend-text 40-49
            .circle-container  
              .c6.circle
              p.legend-text 50-99
            .circle-container  
              .c7.circle
              p.legend-text >100
    .container
      div
        h1 Turn on the heat
        p.lead
          | New York is full of negligent landlords. One major way landlords harass and 
          | <a href="">abuse</a> their tenants is by not providing essential services such as heat and hot water. The scale of the problem is huge. This heat season, there have been over 200,000 complaints regarding no heat or hot water.
        h3 Complaints yesterday:  #{yesterday}
        h3 Complaints this week:  #{thisWeek}
        h3 Since the start of winter: #{winter}
    .container
      h1 Whose responsible?
      p These landlords....
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/leaflet.js')
    script(src='js/Leaflet.utfgrid.js')
    script(src='js/map.js')
