extends layout.jade
block content
  .container
    div
      h1 Turn on the heat
      p.lead
        | New York is full of negligent landlords. 
        | One major way landlords harass and abuse their tenants is by not providing essential services such as heat and hot water. 
        | The scale of the problem is huge. This heat season, there have been over 200,000 complaints regarding no heat or hot water.
  .container
    #map
      #hover
        #hover-text
      #legend
        .circle-container-container
          p.legend-title Complaints per address:
          .circle-container
            .c1.circle
            p.legend-text 1-9
          .circle-container 
            .c2.circle
            p.legend-text 10-19
          .circle-container
            .c3.circle
            p.legend-text 20-29
          .circle-container
            .c4.circle
            p.legend-text 30-39
          .circle-container
            .c5.circle
            p.legend-text 40-49
          .circle-container  
            .c6.circle
            p.legend-text 50-99
          .circle-container  
            .c7.circle
            p.legend-text >100
  .container
    h3.text-center Total complaints since the start of winter: <b> #{winter} </b>
    h3.text-center Complaints over the past 7 days: <b> #{thisWeek} </b>
    //- h3.text-center Complaints yesterday:  #{yesterday}
  .container
    <a name="worst"></a>
    h1.text-center Worst Offenders: The Top 100 buildings
    #complaints-table
    h2 <a name="info"></a>Heat Complaints
    p From October 1st to May 1st, property owners <a href="http://www1.nyc.gov/site/hpd/renters/important-safety-issues-heat-hot-water.page" target="_blank">must provide</a> adequate heat. Technically <a href="http://metcouncilonhousing.org/help_and_answers/heat_and_hot_water" target="_blank">landlords can be fined</a> for their negligence, yet they rarely get in trouble for what should be dangerous criminal activity.
    P When faced with perilous, freezing conditions, tenants have few options: report it to the overworked Department of Housing and Preservation via 311 and/or attempt to get repairs through our <a href="http://www.nytimes.com/2015/01/25/nyregion/a-year-after-suing-their-landlord-brooklyn-tenants-still-lack-heat.html" target="_blank">shamefully ineffectual</a> housing court system.
    <a name="name"></a>
    p This map was made using publicly available data from <a href="https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9" target="_blank">NYC Open Data.</a>
    p Interested in who is behind those LLCs? <a href="/table">See the full table</a>.
    p Check back for more analysis and further investigation into the worst offenders. 
    p.lead Join your local neighborhood tenants' rights organization. The chorus of tenants disgruntled by this city's abusive landlords is growing louder every day - TURN ON THE HEAT! 
  script(src='js/leaflet.js')
  script(src='js/Leaflet.utfgrid.js')
  script(src='js/top_100.js')
  script(src='js/map.js')
