extends layout.jade
block content
  .container
    h1.text-center 2014-2015 Heat Complaints Searchable Table
    #complaints-table
  .container.end
    h2 How to use:
    p You can page through the see buildings and their owners containing heat complaints this year. 
    p Use the search bar to look up a particular owner or building. 
    h3 Onwership data: Owner Names and LLCs!!?
    p Many buildings are owned by LLCs or corporations, concealing the people behind the companies. Many tenants don't even know the 'real' name of the owner of their apartment or who is responsible for not proving them with essential services.
    p This table contains data from three data sources: <a href="https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9" target="_blank">311 complaints</a>, the <a href="http://www.nyc.gov/html/dcp/html/bytes/applbyte.shtml#pluto" target="_blank">pluto dataset</a> from the Department of Planning, and <a href="http://www.nyc.gov/html/dob/html/codes_and_reference_materials/statistics.shtml" target="_blank">job filing</a> from the Department of buildings. They were all linked through their tax lot number (BBL).
    p The landlord names do come with a disclaimer: they might not be up-to-date or 100% accurate. The date of the most recent permit (listed as 'DOB source data') should give you a sense of how-up-to-date the information is. Click <a href="http://dobjobs-elephantbird.rhcloud.com/" target="_blank">here</a> for a searchable version of that datasource.
  script(src='js/table.js')