p {
  font-size: 1.1em;
}

#map {
  height: 520px;
  width: 95%;
}

#legend {
  height: 85px;  
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding-left: 14px;
  padding-right: 8px;
  margin-bottom: 10px;
  margin-right: 8px;
  background-color: #fff;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background: rgba(255, 255, 255, 0.8);
}

.legend-title {
  font-size: 14px;
 font-weight: bold;
 
}

.circle-container {
  height: 70px;
  vertical-align: middle;
  float: left;
  position: relative;
}

.circle {
  border-radius:50%;
  background-color:#2e58ee;
  border: 1px solid #000;
  color:#fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.legend-text {
  padding-right: 9px;
  font-size: .8em

}

.c1 {
  width: 7px;
  height: 7px;
}

.c2 {
  width: 10px;
  height: 10px;
}
.c3 {
  width: 14px;
  height: 14px;
}
.c4 {
  width: 19px;
  height: 19px;
}
.c5 {
  width: 23px;
  height: 23px;
}
.c6 {
  width: 27px;
  height: 27px;
}
.c7 {
  width: 33px;
  height: 33px;
}

#hover {

  min-height: 20px;
  max-height: 50px;  
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding-left: 14px;
  padding-right: 8px;
  margin-bottom: 100px;
  margin-right: 8px;
  background-color: #000;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background: rgba(255, 255, 255, 0.8);
}

#complaints {
  font-size: 12px;
}

#complaints-table {
  width: 70%;
  margin: 0 auto;
}

#complaints thead {
  font-size: 13px;
}

#full-table {
  margin: 0 auto;
}

.end  {
  padding-bottom: 50px;
}
